<app-loading [loading]="loading"></app-loading>

<div
  *ngIf="productsResult && productsResult != undefined; else noProduct"
  class="mt-3"
>
  <div class="table-responsive">
    <table class="table table-bordered table-striped">
      <thead>
        <tr>
          <th></th>
          <th>Title</th>
          <th>Category</th>
          <th>Price</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let p of productsResult.products">
          <td>
            <button
              class="btn btn-primary"
              type="button"
              (click)="showProductInfo(p)"
            >
              Info
            </button>
          </td>
          <td>{{ p.title }}</td>
          <td>{{ p.category }}</td>
          <td>{{ p.price }}</td>
        </tr>
      </tbody>
    </table>
  </div>

  <app-pagination
    [totalPages]="totalPages"
    [currentPage]="currentPage"
    (pageChanged)="gotoPage($event)"
  ></app-pagination>
</div>

<ng-template #noProduct>
  <div>
    <h4>No items available</h4>
  </div>
</ng-template>

<app-products-info-modal [product]="selectedProduct"></app-products-info-modal>
