<app-loading [loading]="loading"></app-loading>

<div
  *ngIf="productsResult && productsResult != undefined; else noProduct"
  class="mt-3"
>
  <div class="table-responsive">
    <table class="table table-bordered table-striped">
      <thead>
        <tr>
          <th>Title</th>
          <th>Category</th>
          <th>Price</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let p of productsResult.products">
          <td>{{ p.title }}</td>
          <td>{{ p.category }}</td>
          <td>{{ p.price }}</td>
        </tr>
      </tbody>
    </table>
  </div>

  <nav aria-label="Page navigation example">
    <ul class="pagination">
      <li class="page-item" [class.disabled]="currentPage == 1">
        <a class="page-link" (click)="gotoPage(currentPage - 1)">Previous</a>
      </li>
      <li
        class="page-item"
        *ngFor="let i of pagesTemp"
        [class.active]="i == currentPage"
      >
        <a class="page-link" style="cursor: pointer" (click)="gotoPage(i)">{{
          i
        }}</a>
      </li>
      <li class="page-item" [class.disabled]="currentPage == totalPages">
        <a
          class="page-link"
          (click)="gotoPage(currentPage + 1)"
          style="cursor: pointer"
          >Next</a
        >
      </li>
    </ul>
  </nav>
</div>

<ng-template #noProduct>
  <div>
    <h4>NO ITEM</h4>
  </div>
</ng-template>
